 .FormBlock{
}
.Textarea {
    padding: 10px;
}
.error textarea,
.error input {
    border: 2px solid red;
}

.error span {
    width: 100%;
    color: red;
    text-align: center;
}
.summaryError {
    max-width: 200px;
    border: 1px solid red;
    border-radius: 10px;
    padding: 5px;
    color: red;
}
