.Header {
  grid-area: header;
  background-color: darkslategray;
  .reactLogo {
    width: 65px;
  }
  .loginBlock {
    padding: 20px;
    float: right;
    a {
        color: white;
        text-decoration: none
    }
    .profileName {
        color: white;
        cursor: pointer;
    }
  }
}