.ProfileInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 35px;
    color: white;
    background-image: url(../../../accets/images/screen.jpg);
    background-position: cover;
    .profilePhoto {
        margin-bottom: 20px;
        border-radius: 12px;
         max-width: 200px;
      }
    .screenImg {
        margin: 10px;
        width: 550px;
    }
    .profileName, .myContacts, .profileName{
        margin-top: 10px;
    }

}
.ProfileStatus{
    margin-top: 20px;
    span {
    color: azure;
    cursor: pointer;
        :hover {
            text-decoration: underline;
        }
    }
}

